<%- include('partials/header'); -%>

<div class="container">
  <div class="left">
    <div class="side">
      <a href="/lec"><h3 style="margin-bottom: 20px">First Lesson</h3></a>
      <a href="/lec2"><h3 style="margin-bottom: 20px">Second Lesson</h3></a>
      <a href="/lec3"><h3 style="margin-bottom: 20px">Third Lesson</h3></a>
    </div>
  </div>

  <div class="right">
    <div class="main" style="border: 1px solid black">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/s8YG0GvQInY"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</div>

<%- include('partials/footer'); -%>
